@if (isLoading()) {
    <div class="spinner-wrapper">
        <mat-spinner></mat-spinner>
    </div>
} @else {
    <mat-grid-list [cols]="cols" rowHeight="2:1" class="list-wrapper">
        @for (item of items(); track item.id) {
            <mat-grid-tile class="list-item">
                <character-card 
                [character]="item"
                (clicked)="openCharacterView($event)"
                ></character-card>
            </mat-grid-tile>
        } @empty {
            <p>There are no items to show.</p>
        }
    </mat-grid-list>
}

<mat-paginator class="list-paginator" 
              [length]="pagination().length"
              [pageSize]="pagination().pageSize"
              (page)="handlePageEvent($event)"
              [pageSizeOptions]="pageSizeOptions"
              aria-label="Select page">
</mat-paginator>
<floating-button 
  icon="add" 
  tooltip="Add Character" 
  position="bottom-left" 
  (buttonClick)="onFloatingButtonClick()">
</floating-button>