<mat-toolbar>
    <div class="logo-wrapper">
        <img src="/icon.png" alt="Rick and Morty App logo">
    </div>
    <span>Rick And Morty Universe</span>
    <span class="spacer"></span>
    @if (user()) {
        <span class="user-name"> {{ user()?.displayName }} </span>
        <span mat-mini-fab aria-label="Log in Button" class="login-btn" matTooltip="Logout" (click)="logout()">
            <mat-icon>logout</mat-icon>
        </span>
    } @else {
        <span mat-mini-fab aria-label="Log in Button" class="login-btn" matTooltip="Login" (click)="login()">
            <mat-icon>login</mat-icon>
        </span>
    }
    <a href="https://github.com/Estebanjc97/ricknmortyapp" target="_blank" class="code-icon" matTooltip="Go to Github Repo">
        <mat-icon>code</mat-icon>
    </a>
</mat-toolbar>